/*  your css code here. If applicable */
body {
            background-color: rgb(204, 204, 204);
           
        }

        ul{
            border: 1px solid black;
            border-radius: 4px;
            background-color: white;
            width: 500px;
            
        }

        ul li{
            list-style-type: none;
            
        }

        a{
            text-decoration-line: none;
            color: black;
        }

        h1,h2{
            text-align: center;
        }

        section , .list{
            display: flex;
            justify-content: center
        }
       
        .entertainment{
            padding: 6px;
            background-color: white;
            width: 340px;
            border-radius: 8px;
            border: 2px solid black;
        }